:root{
--main-font: 'Josefin Sans', sans-serif;
--main-text-color:#000;
--main-background:#FAF3DD;
}
/* nav Style */
nav{
display: flex;
justify-content: flex-end;
align-items: center;
background-color:var(--main-background);
width: auto;
}

nav a {
    font-family:var(--main-font);
    color:var(--main-text-color);
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    padding: 25px;
}
/* main grid */
main{
    font-family: var(--main-font);
    color: var(--main-text-color);
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "about profilePic"
    "projects projects"
    "contact contact" ;
}
/* grid template area and styles */
#about{
    grid-area: about;
    display: flex;
    width: auto;
    background-color:var(--main-background);
}
#projects{
    grid-area: projects;
    width: auto;
    background-color:#618985;
}
#contact{
    grid-area: contact;
    width: auto;
    background-color:var(--main-background);
}
#profilePic{
    grid-area: profilePic;
    background-color: var(--main-background);
}
/* about me sections and style */
h1{
    font-size: 56px;
    padding:100px 0px 0px 100px;
    display: block;
}
h1 span{
    display: block;
}
.about p{
    font-size: 32px;
    padding: 50px 100px;
}
.profilePic img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding-right: 20px;
    padding-top: 20px;
}

/* project grid and styles */
.projects{
    display: grid;
    padding-left:200px;
    padding-right: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    background-color:#618985;
    grid-template-areas:
    "projectOne projectOne"
    "projectTwo projectThree"
    "projectFour projectFive";
}

/* project grid template area */
#projectOne{
    grid-area:projectOne;
}
#projectTwo{
    grid-area:projectTwo;
}
#projectThree{
    grid-area:projectThree;
}
#projectFour{
    grid-area:projectFour;
}
#projectFive{
    grid-area:projectFive;
}

/* project styles */
.projectCard{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    width: auto;
    border: solid 5px red;
}
    
    .projectCard h2{
        font-size: 32px;
        padding-top: 20px;
    }


    /* contact section */
    
    .contact{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .contact h2 {
        font-size: 32px;
    }

  #projectOne img {
        padding-top: 20px;
        height: 600px;
        width:60%;
        object-fit: cover;
        object-position: top;

    }

    #projectOne a {
        display:flex;
        width: 100%;
        justify-content: center;
    }