:root{
--main-font: 'Josefin Sans', sans-serif;
--main-text-color:#000;
--main-background:#FAF3DD;
}
/* nav Style */
nav{
display: flex;
justify-content: flex-end;
align-items: center;
background-color:var(--main-background);
width: auto;
}

nav a {
    font-family:var(--main-font);
    color:var(--main-text-color);
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    padding: 25px;
}
/* main grid */
main{
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "about profilePic"
    "projects projects"
    "contact contact" ;
}
/* grid template area and styles */
#about{
    grid-area: about;
    display: flex;
    width: auto;
    background-color:var(--main-background);
}
#projects{
    grid-area: projects;
    width: auto;
    background-color:#618985;
}
#contact{
    grid-area: contact;
    width: auto;
    background-color:var(--main-background);
}
#profilePic{
    grid-area: profilePic;
    background-color: var(--main-background);
}
/* about me sections and style */
h1{
    font-family:var(--main-font);
    font-size: 56px;
    padding:100px 0px 0px 100px;
    display: block;
}
h1 span{
    display: block;
}
.about p{
    font-family: var(--main-font);
    font-size: 32px;
    padding: 50px 100px;
}
.profilePic img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding-right: 20px;
    padding-top: 20px;
}
