:root{
--main-font: 'Josefin Sans', sans-serif;
}
/* nav Style */
nav{
display: flex;
justify-content: flex-end;
align-items: center;
background-color: #fff;
width: auto;
}

nav a {
    font-family:var(--main-font);
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    padding: 20px;
}
/* main grid */
main{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 700px 1000px 500px;
    background-color: black;
    border:solid 5px red;
    grid-template-areas:
    "about profilePic"
    "projects projects"
    "contact contact" ;
}
/* grid template area */
#about{
    grid-area: about;
    display: flex;
    width: auto;
    height:auto;
    background-color: white;
}
#projects{
    grid-area: projects;
    width: auto;
    height:auto;
    background-color: grey;
    border: solid 5px red;
}
#contact{
    grid-area: contacts;
    width: auto;
    height:500px;
    background-color: white;
    border: solid 5px red;
}
#profilePic{
    grid-area: profilePic;
    background-color: #fff;
}
/* about me sections and style */
h1{
    font-family:var(--main-font);
    font-size: 56px;
    padding:100px 0px 0px 100px;
    display: block;
}
h1 span{
    display: block;
}
.about p{
    font-family: var(--main-font);
    font-size: 32px;
    padding: 50px 100px;
}
.profilePic img {
    max-width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
    padding-right: 20px;
    padding-top: 20px;
}
